<div *ngIf="!editing; else edit" class="cardReplica">

  <p>
    Por: {{replica.apodo}}
    <fa-icon class = "iconoClicable botonBorrar" [icon]="faTrashCan" (click)="deleteReply()"  ></fa-icon>
    <fa-icon class = "iconoClicable" [icon]="faPen" (click)="showEditReplyMenu()" ></fa-icon>
  </p>

  <p class="detalle">
    {{replica.detalle}}
  </p>

  <div class="botonera" >
    <button *ngIf="replica.replicas.length != 0" (click)="showReplies()" class="boton"> Mostrar comentarios </button>
    <button class="boton secundario" (click)="showAddReplyMenu()"> Agregar Replica </button>
  </div>
  
  <app-Add-Reply [isOn]="isOnAddReply" [replyList]="replica.replicas" [idReplicaPadre]="replica.id"></app-Add-Reply>

  <div *ngIf="isOn" class="respuestas">
    <li *ngFor="let reply of replica.replicas">
      <app-Card-Reply [replica]="reply" [idReplicaPadre]="replica.id" [replyList]="replica.replicas"></app-Card-Reply>
    </li>
  </div>

</div>

<ng-template #edit>
  <app-Add-Reply [isOn]="editing" [edit]="true" [replyToEdit]="replica" (onClick)="editing = $event"></app-Add-Reply>
</ng-template>
