<div *ngIf="isOn" class="CardAddReply">
  <label> Apodo: </label>
  <input class="input inputName" type="text" placeholder="Ingrese su apodo..." [(ngModel)]="reply.apodo">
  <label> Descripcion: </label>
  <input class="input inputReply" type="text" placeholder="Ingrese su comentario..." [(ngModel)]="reply.detalle">
  <div class="botonera">
    <button *ngIf="!edit; else editButton" class="boton" (click)="saveReply()"> Guardar </button>
    <ng-template #editButton>
      <button class="boton" (click)="updateReply()"> Actualizar </button>
    </ng-template>
  </div>
  
</div>
